.header {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.search-wrapper {
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 100px;
    gap: 20px;
}

#searchtitle {
    font-weight: bold;
    font-size: 20px;
}

.search-wrapper input {
    height: 30px;
    width: 200px;
}

.footer {
    position: fixed;     
    text-align: center;    
    bottom: 20px; 
    width: 100%;
}

.number-countries {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.country {
    border: 1px solid grey;
    padding: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.country > .c-body {
    color: grey;
}